.env
.gitignore
./Parse_IBGE/__pycache__/ParseEstadosIBGE.cpython-311.pyc
./Parse_IBGE/__pycache__/ParseMunicipiosIBGE.cpython-311.pyc
./Requests_IBGE/__pycache__/RequestsIBGE.cpython-311.pyc
./Model/__pycache__/Estados.cpython-311.pyc
./Model/__pycache__/Municipio.cpython-311.pyc
./SendData/__pycache__/SendDataIBGE.cpython-311.pyc


